html,
body,
#map {
  height: 100%;
  margin: 0;
  padding: 0;
}

header {
  font-size: 30px;
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
}

main {
  height: calc(100% - 50px);
}

.menu {
  background-color: white;
  display: inline;
  max-height: 400px;
  overflow-y: scroll;
  position: absolute;
  width: 150px;
  z-index: 10;
}